<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquiryMapper">

	<resultMap type="Inquiry" id="resultInquiry">
		<result property="inquiryId" column="INQUIRY_ID" />
		<!-- gameDB 
		<result property="itemId" column="ITEM_ID" />
		<result property="charId" column="CHAR_ID" />
		<result property="accountId" column="ACCOUNT_ID" />
		  -->
		<result property="userId" column="USERID" />
		<result property="employeeId" column="EMPLOYEE_ID" />
		<result property="inquiryTitle" column="INQUIRY_TITLE" />
		<result property="inquiryContent" column="INQUIRY_CONTENT" />
		<result property="answerStatus" column="ANSWER_STATUS" />
		<result property="editDate" column="EDIT_DATE" />
		<result property="answerDate" column="ANSWER_DATE" />
		<result property="answerContent" column="ANSWER_CONTENT" />
		<result property="attachmentFileName" column="ATTACHEMENT_FILENAME" />
		<result property="inquiryType" column="INQUIRY_TYPE" />
	</resultMap>


	<select id="selectListCount" resultType="_int">
		select count(*) from inquiry
	</select>
	
	<select id="selectList" parameterType="Paging" resultMap="resultInquiry">
		<![CDATA[
		select *
		from (select rownum rnum, inquiry_id, userid, 
				employee_id, inquiry_title, inquiry_content, answer_status, edit_date,
				answer_date, answer_content, attachement_filename, inquiry_type
			from (select * from inquiry
					order by answer_status desc, edit_date))
		where rnum >= #{ startRow } and rnum <= #{ endRow }
		]]>
		
	</select>


</mapper>